@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #00b0f4, #0059ff);
  z-index: 999999;
}

.spinner {
	position: absolute;
	top: 48%;
	left: 48%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  border-radius: 50px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

body {
	text-align: center;
  background-color: black;
	/*background-image: linear-gradient(to right, #00b0f4, #0059ff);*/
  background-image: linear-gradient(to top, rgb(0 0 0 / 0%), #0055ff), url(https://e26f693ee9e6b65c.demo.carrd.co/assets/images/bg.svg?v=57cfe102);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%, bottom;
	color: white;
	font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 500px;
  background-color: #232529;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px 5px black;
/*background: rgba( 255, 255, 255, 0 );*/
/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
/*backdrop-filter: blur( 20px );*/
/*-webkit-backdrop-filter: blur( 20px );*/
}

.banner {
  height: 200px;
  width: 500px;
  background-image: url(https://cdn.discordapp.com/banners/594504468931018752/a_0ed52835dd5fe44b088de169de792816.gif?size=512);
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.avatar {
	border-radius: 100px;
	margin-top: 133px;
  border: 10px solid #232529;
  background-color: #232529;
  cursor: pointer;
}

.name {
  margin: 100px 0 0 0;
}

hr {
  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
  margin: 0 15px 0 15px;
  opacity: 10%;
}

.connections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: initial;
}

.connection {
  height: 44px;
  width: 200px;
  border: 1px solid hsla(0,0%,100%,0.06);
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
}

.fab {
  padding: 10px;
  font-size: 25px;
  /*width: 30px;*/
  /*text-align: center;*/
  text-decoration: none;
  border-radius: 50%;
}
.fa-discord {
  color: #5865F2;
}
.fa-discord:hover {
	color: #7289da;
}
.fa-youtube {
  color: #FF0000;
}
.fa-youtube:hover {
	color: red;
}
.fa-twitch:hover {
	color: purple;
}
.fa-github:hover {
  color: black;
}
.fa-reddit {
  color: #FF4500;
}
.fa-reddit:hover {
  color: #ff4500;
}
.fa-spotify:hover {
  color: #1ed760;
}
.fa-steam:hover {
  color: #0b1c4a;
}

.fa-chevron-down {
  font-size: 50px;
  text-decoration: none;
  color: white;
  width: 35px;
}
.fa-chevron-down:hover {
  color: wheat;
}


/* width */
::-webkit-scrollbar {
  width: 22px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #192e7d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
  border: 5px solid #192e7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

a {
  text-decoration: none;
  color: white;
}

.©️ {
  text-decoration: none;
  color: white;
  margin: 33px 0 10px 0;
  width: auto;
  text-shadow: 0px 0px 2px black;
}

::selection {
  color: #00b0f4;
  background: white;
}

@media only screen and (max-width: 530px) {
  .main {
    width: 345px;
  }
  .banner {
    width: 345px;
  }
}

@media only screen and (max-width: 376px) {
  .main {
    width: 309px;
  }
  .banner {
    width: 309px;
  }
}

@media only screen and (max-width: 326px) {
  .main {
    width: 250px;
  }
  .banner {
    width: 250px;
  }
}